body {
    height: 100vh;
    font-family: 'Roboto';
    display: flex;
    flex: 1 1 auto;
    flex-direction: column;
    margin: 0;
}


.header, .footer {
    background-color: #1F2937;
}

.header {
    padding:200px;
    padding-top: 20px;
    padding-bottom: 100px;
}

.navigation-bar {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    margin-bottom: 100px;
}

.header-content {
    display: flex;
    align-content: center;
    justify-content: space-between;
}

.title {
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 900;
    width: 450px;
}

.subtext {
    color: #E5E7EB;
    font-size: 18px;
    width: 400px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.image {
    color: #E5E7EB;
    text-align: center;
    box-sizing: border-box;
    font-size: 18px;
    background-color: rgb(113, 113, 113);
    padding: 100px;
    width: 500px;
}

.header-button {
    color: white;
    background-color: #3882f6;
    border: none;
    border-radius: 5px;
    padding: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    font-weight: 700;

}

.information {
    display: flex;
    flex-direction: column;
    margin-bottom: 200px;
}

.subtitle {
    font-size: 36px;
    color: #1F2937;
    font-weight: 900;
    padding: 40px;
    text-align: center;
}


.cards {
    display: flex;
    justify-content: center; 
    gap: 80px;   
}

.testimony {
    background-color: #E5E7EB;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 500px;
    padding-top:80px;
    padding-bottom: 80px;
}

.quote-text {
    font-size: 36px;
    color: #1F2937;
    font-style: italic;
    width: 800px;
    margin-bottom: 0;
}

.quoter {
    margin-top: 0;
    font-size: 24px;
    font-weight: 700;
    align-self: flex-end;
    width: 500px;
}

.card-subtext {
    text-align: center;
    width: 140px;
    padding: 5px;
}


.logo {
    color: #F9FAF8;
    font-size: 24px;
    font-weight: 700;
}


ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 20px;
}

.card {
    border: 3px solid #3882f6;
    width:50px;
    height: 50px;
    padding: 50px;
    border-radius: 20px;
}

a {
    text-decoration: none;
    color: #E5E7EB;
    font-size: 18px;
}


.footer {
    margin-top: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #E5E7EB;
    padding: 40px;
}

